/* Задаємо box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.hide {
    display: none;
}

/* Властивості по дефолту */
/* font-size: 16px;
font-weight: 400;
font-style: normal;
color: black;
background-color: white;
  */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    /* Прибираємо зовнішні відступи */
}

ul,
ol {
    list-style-type: none;
    /* Прибираємо маркери */
    padding: 0;
    margin: 0;
}

a {
    color: currentColor;
    /*Наслідування кольору */
    text-decoration: none;
    /*Прибираємо підкреслення */
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    font-family: inherit;
    /* Наслідування властивості */
    color: currentColor;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Властивості контейнеру */
.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* Body styles */
body {
    color: #434455;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    margin: 0;
}

/*   header   */

.header {
    background-color: white;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .header-container {
        align-items: center;
    }
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo,
.footer-logo {
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .logo {
        margin-right: 120px;
    }
}

@media screen and (min-width: 1158px) {
    .logo {
        margin-right: 76px;
    }
}

.header-accent {
    color: #2e2f42;
}

.footer-accent {
    color: #f4f4fd;
}

/* button burger in the Mobile menu */

.header-list {
    display: flex;
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-list .header-link:hover,
.header-list .header-link:focus {
    color: #404bbf;
}

@media screen and (max-width: 767.98px) {
    .header-list {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157.98px) {
    .header-list {
        margin-right: 122px;
    }
}

@media screen and (min-width: 1158px) {
    .header-list {
        margin-right: 332px;
    }
}

.header-item {
    margin-right: 40px;
}

.header-item:last-child {
    margin-right: 0;
}

.header-link {
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.current {
    color: #404bbf;
}

.header-link.current::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: #404bbf;
    bottom: -1px;
}

.header-address {
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
}

@media screen and (max-width: 767.98px) {
    .header-address {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .header-address {
        font-size: 16px;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

.header-address-list .header-address-link:hover,
.header-address-list .header-address-link:focus {
    color: #404bbf;
}

.header-address-list {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1158px) {
    .header-address-list {
        display: flex;
    }
}

.header-address-item {
    margin-bottom: 12px;
}

@media screen and (min-width: 1158px) {
    .header-address-item {
        margin-right: 40px;
    }
}

.header-address-item:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 1158px) {
    .header-address-item:last-child {
        margin-right: 0;
    }
}

.header-address-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*     --- hero -----  */
.hero {
    padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
    .hero {
        padding-bottom: 120px;
    }
}

.hero-container {
    margin: 0 auto;
    padding: 72px 16px;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero/Dark-bgmob@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .hero-container {
        padding: 112px 136px;
    }
}

@media screen and (min-width: 1158px) {
    .hero-container {
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
    }
}

/* Ретінізація фонових зображень*/

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .hero-container {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/hero/Dark-bgmob@2x.jpg');
    }
}

@media screen and (min-width: 768px) {
    .hero-container {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/hero/Dark-bgtab@1x.jpg');
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero-container {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/hero/Dark-bgtab@2x.jpg');
    }
}

@media screen and (min-width: 1158px) {
    .hero-container {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/hero/people-office-desk@1x.jpg');
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero-container {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/hero/people-office-desk@2x.jpg');
    }
}

.hero-title {
    max-width: 288px;
    margin-bottom: 72px;

    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    text-transform: capitalize;
}

@media screen and (min-width: 768px) {
    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .hero-title {
        width: 100%;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
    }
}

.hero-button {
    display: block;
    padding: 16px 32px;
    max-width: 100%;
    margin: 0 auto;
    align-items: flex-start;
    font-weight: 500;
    color: #fff;
    border-radius: 4px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

/*    ----- directions ------ */
.direct {
    background-color: #fff;
    padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
    .direct {
        padding-bottom: 120px;
    }
}

.direct-title,
.team-titel,
.portfolio-titel {
    max-width: 218px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

/*.team-titel {
  width: 162px;
}
.portfolio-titel {
  width: 218px;
}*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.direct-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
}

.direct-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 356px;
    gap: 8px;
}

@media screen and (min-width: 768px) {
    .direct-item {
        width: calc((100% - 24px * 1) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .direct-item {
        width: calc((100% - 24px * 3) / 4);
    }
}

.direct-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}

@media screen and (max-width: 1157.98px) {
    .direct-icons {
        display: none;
    }
}

.direct-subtitle {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02px;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
    text-transform: capitalize;
    align-self: stretch;
}

@media screen and (min-width: 768px) {
    .direct-subtitle {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .direct-subtitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
}

.team-subtitel,
.portfolio-subtitel {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.direct-desc {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    align-self: stretch;
}

.team-desc,
.portfolio-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*      --- Team ---        */

.team {
    background-color: #f4f4fd;
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column;*/
    gap: 72px;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .team-list {
        gap: 64px 24px;
    }
}

.team-list li {
    color: #2e2f42;
}

.team-item {
    display: flex;
    flex-direction: column;
    width: 264px;
    display: flex;
    flex-wrap: wrap;
    border-top: none;
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/*@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 24px * 1) / 2);
  }
}*/
@media screen and (min-width: 1158px) {
    .team-item {
        display: flex;
        flex-wrap: nowrap;
        width: calc((100% - 24px * 3) / 4);
    }
}

.div-team {
    padding-bottom: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap: 8px;
}

.team-img {
    padding-bottom: 32px;
}

/*     --- Portfolio ---        */

.portfolio {
    background-color: #fff;
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .portfolio {
        padding: 120px 0;
    }
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .portfolio-list {
        gap: 72px 24px;
    }
}

.portfolio-item {
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #f4f4fd;
    background-color: #fff;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .overlay {
    transform: translateY(0%);
}

@media screen and (min-width: 768px) {
    .portfolio-item {
        width: calc((100% - 24px * 1) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-item {
        width: calc((100% - 24px * 2) / 3);
    }
}

.portfolio-img {
    display: block;
    max-width: 100%;
    height: auto;
    /*padding-bottom: 32px;*/
}

.portfolio-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-portfolio {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px 16px;
    gap: 8px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/*     ----  Footer  ----     */
.footer {
    display: block;
    flex-wrap: wrap;
    align-items: baseline;
    background-color: #2e2f42;
    color: #f4f4fd;
    padding: 100px 0;
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}

.footer-logo-desc {
    width: 264px;
    margin-right: 120px;
}

.footer-social-desc {
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-social {
    display: inline-block;
    align-items: flex-start;
    gap: 16px;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 8px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #f4f4fd;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

/* icons */

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    color: #f4f4fd;
    background-color: #4d5ae5;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.social-icon {
    fill: currentColor;
}

.specific-icons {}

/* Footer form */
.footer-subscribe {
    margin-left: auto;
}

.footer_subscribe-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    align-items: center;
    gap: 24px;
}

.subscribe-form-field {}

.subscribe-form-input {
    min-width: 264px;
    height: 40px;
    padding: 8px 16px;

    border-radius: 4px;
    border: 1px solid #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;

    color: #fff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    /*outline: transparent;*/
    outline: none;
}

.subscribe-form-input::placeholder {
    color: currentColor;
}

.subscribe-form-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 16px;
    padding: 8px 24px;
    min-width: 165px;

    color: #fff;
    text-align: center;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: #4d5ae5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-btn:hover,
.subscribe-form-btn:focus {
    background-color: #404bbf;
}

.subscribe-form-icon {
    fill: #fff;
    margin-left: 16px;
}

/*     -----  Modal window   -----    */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 288px;
    min-height: 263px;
    padding: 72px 16px 24px;

    border-radius: 4px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    opacity: 0;
    visibility: hidden;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 756px) {
    .modal {
        min-width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px;
    }
}

.modal.is-open {
    opacity: 1;
    visibility: visible;
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #e7e9fc;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-btn-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
    fill: #ffffff;
}

.modal-caption {
    width: 100%;
    margin-bottom: 16px;
    color: #2e2f42;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.form {}

.modal-form-div {
    margin-bottom: 8px;
}

.form-label {
    /* display: block;*/
    margin-bottom: 4px;
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.form-field {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    padding-left: 34px;

    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 756px) {
    .form-input {
        padding-left: 38px;
    }
}

.form-input:focus {
    border: 1px solid #4d5ae5;
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus+.form-icon {
    fill: #4d5ae5;
}

/* форма коментар */
.modal-form-comment {
    margin-bottom: 16px;
}

.form-comment-textarea {
    width: 100%;
    min-height: 120px;
    padding: 8px 16px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    flex-shrink: 0;

    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment-textarea::placeholder {
    color: currentColor;
    /*opacity: 0.5;*/
}

.form-comment-textarea:focus {
    border: 1px solid #4d5ae5;
}

/* блок з чекбоксом */

.form-checkbox {
    margin-bottom: 24px;
}

.modal-form-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    user-select: none;
}

.form-checkbox-input {}

.label-checkbox-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 16px;
    height: 16px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    fill: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

/* звязка сусідніх елементів */

.form-checkbox-input:checked+.modal-form-checkbox>.label-checkbox-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

/* .svg-checkbox {
  opacity: 0;
}*/
/* зявляється галочка */
.form-checkbox-input:checked+.label-checkbox-span>.svg-checkbox {
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-checkbox-a {
    color: #4d5ae5;
    text-decoration-line: underline;
}

.form-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    margin: 0 auto;

    color: #ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
    background-color: #404bbf;
}

/*  ---- Mobile footer -----   */

.mobile-footer {
    padding: 96px 0;
    background-color: #2e2f42;
}

@media screen and (max-width: 767.98px) {
    .mobile-footer {
        text-align: center;
    }
}

@media screen and (min-width: 1158px) {
    .mobile-footer {
        padding: 100px 0;
    }
}

.mobile-footer-container {}

@media screen and (min-width: 768px) {
    .mobile-footer-container {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157.98px) {
    .mobile-footer-container {
        padding: 0 108px;
    }
}

@media screen and (min-width: 1158px) {
    .mobile-footer-container {
        gap: 0;
    }
}

.mobile-logo-desc {}

@media screen and (max-width: 767.98px) {
    .mobile-logo-desc {
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 1158px) {
    .mobile-logo-desc {
        margin-right: 120px;
    }
}

.mobile-footer-logo {
    display: inline-block;
    margin-bottom: 16px;

    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.mobile-footer-accent {
    color: #4d5ae5;
}

.mobile-footer-desc {
    max-width: 288px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: left;
}

@media screen and (min-width: 768px) {
    .mobile-footer-desc {
        max-width: 264px;
    }
}

.mobile-footer-social {
    margin-bottom: 16px;
    justify-content: center;
}

@media screen and (max-width: 767.98px) {
    .mobile-footer-social {
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 1158px) {
    .mobile-footer-social {
        margin-right: auto;
    }
}

.mobile-footer-social-desc {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.mobile-footer-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.mobile-footer-social-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    color: #f4f4fd;
    background-color: #4d5ae5;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-footer-social-item:hover,
.mobile-footer-social-item:focus {
    background-color: #31d0aa;
}

.social-icon {
    fill: currentColor;
}

.mobile-footer-subscribe {}

.mobile-footer_subscribe-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.mobile-subscribe-form {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;

    /* outline: none;*/
}

@media screen and (min-width: 768px) {
    .mobile-subscribe-form {
        max-width: 453px;
        width: 100%;
        flex-wrap: nowrap;
    }
}

.mobile-subscribe-form::placeholder {
    color: currentColor;
    opacity: 0.6;
}

.mobile-subscribe-form-field {
    width: 100%;
}

.mobile-subscribe-form-input {
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

    color: #fff;
    border-radius: 4px;
    border: 1px solid #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: #2e2f42;

    opacity: 0.3;
    outline: transparent;
}

@media screen and (min-width: 768px) {
    .mobile-subscribe-form-input {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .mobile-subscribe-form-input {
        border: 1px solid #fff;
        color: currentColor;
        opacity: 1;
    }
}

.mobile-subscribe-form-btn {
    display: flex;
    max-width: 165px;
    padding: 8px 24px;
    border-radius: 4px;
    background: #4d5ae5;
    color: #fff;
    text-align: center;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-subscribe-form-icon {
    fill: #fff;
    margin-left: 16px;
}

.mobile-subscribe-form-btn:hover,
.mobile-subscribe-form-btn:focus {
    background-color: #404bbf;
}

/*    ---- Mobile menu -----    */

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    background-color: inherit;
}

@media screen and (min-width: 768px) {
    .menu-btn {
        display: none;
    }
}

.menu-btn-icon {
    fill: #2f2f37;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 72px 24px 40px 16px;

    display: flex;
    flex-direction: column;
    background-color: #fff;
    transform: translateX(-100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
}

.mobile-menu.is-open {
    transform: translateX(0);
    visibility: visible;
}

.mobile-menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #e7e9fc;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn-icon {}

.mobile-menu-list {
    margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-link {
    /*display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;*/

    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.mobile-menu-link.current {
    color: #404bbf;
}

.mobile-menu-contacts {
    margin-bottom: 48px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: #434455;
}

.mobile-menu-contacts .accent {
    color: #4d5ae5;
}

.mobile-menu-contacts-item:not(:last-child) {
    margin-bottom: 24px;
}

.mobile-menu-contact {}

.mobile-menu .social-list {
    justify-content: left;
    gap: 40px;
}